<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Projeto LDS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AutenticacaoController</display-name>
    <servlet-name>AutenticacaoController</servlet-name>
    <servlet-class>br.com.plds.controller.AutenticacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticacaoController</servlet-name>
    <url-pattern>/AutenticacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroController</display-name>
    <servlet-name>CadastroController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroController</servlet-name>
    <url-pattern>/CadastroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtribuirModemController</display-name>
    <servlet-name>AtribuirModemController</servlet-name>
    <servlet-class>br.com.plds.controller.AtribuirModemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtribuirModemController</servlet-name>
    <url-pattern>/AtribuirModemController</url-pattern>
    
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaixarModemController</display-name>
    <servlet-name>BaixarModemController</servlet-name>
    <servlet-class>br.com.plds.controller.BaixarModemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaixarModemController</servlet-name>
    <url-pattern>/BaixarModemController</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>BaixarRoteadorController</display-name>
    <servlet-name>BaixarRoteadorController</servlet-name>
    <servlet-class>br.com.plds.controller.BaixarRoteadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaixarRoteadorController</servlet-name>
    <url-pattern>/BaixarRoteadorController</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AtribuirRoteadorController</display-name>
    <servlet-name>AtribuirRoteadorController</servlet-name>
    <servlet-class>br.com.plds.controller.AtribuirRoteadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtribuirRoteadorController</servlet-name>
    <url-pattern>/AtribuirRoteadorController</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         c:\data\
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuarioController</display-name>
    <servlet-name>CadastrarUsuarioController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastrarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuarioController</servlet-name>
    <url-pattern>/CadastrarUsuarioController</url-pattern>
  </servlet-mapping>
</web-app>