<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Projeto LDS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AutenticacaoController</display-name>
    <servlet-name>AutenticacaoController</servlet-name>
    <servlet-class>br.com.plds.controller.AutenticacaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticacaoController</servlet-name>
    <url-pattern>/AutenticacaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroController</display-name>
    <servlet-name>CadastroController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroController</servlet-name>
    <url-pattern>/CadastroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtribuirModemController</display-name>
    <servlet-name>AtribuirModemController</servlet-name>
    <servlet-class>br.com.plds.controller.AtribuirModemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtribuirModemController</servlet-name>
    <url-pattern>/AtribuirModemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaixarModemController</display-name>
    <servlet-name>BaixarModemController</servlet-name>
    <servlet-class>br.com.plds.controller.BaixarModemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaixarModemController</servlet-name>
    <url-pattern>/BaixarModemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaixarRoteadorController</display-name>
    <servlet-name>BaixarRoteadorController</servlet-name>
    <servlet-class>br.com.plds.controller.BaixarRoteadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaixarRoteadorController</servlet-name>
    <url-pattern>/BaixarRoteadorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaixarGabineteController</display-name>
    <servlet-name>BaixarGabineteController</servlet-name>
    <servlet-class>br.com.plds.controller.BaixarGabineteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaixarGabineteController</servlet-name>
    <url-pattern>/BaixarGabineteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtribuirRoteadorController</display-name>
    <servlet-name>AtribuirRoteadorController</servlet-name>
    <servlet-class>br.com.plds.controller.AtribuirRoteadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtribuirRoteadorController</servlet-name>
    <url-pattern>/AtribuirRoteadorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtribuirGabineteController</display-name>
    <servlet-name>AtribuirGabineteController</servlet-name>
    <servlet-class>br.com.plds.controller.AtribuirGabineteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtribuirGabineteController</servlet-name>
    <url-pattern>/AtribuirGabineteController</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         c:\data\
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuarioController</display-name>
    <servlet-name>CadastrarUsuarioController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastrarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuarioController</servlet-name>
    <url-pattern>/CadastrarUsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFabricanteController</display-name>
    <servlet-name>CadastrarFabricanteController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastrarFabricanteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFabricanteController</servlet-name>
    <url-pattern>/CadastrarFabricanteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarModemController</display-name>
    <servlet-name>CadastrarModemController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastrarModemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarModemController</servlet-name>
    <url-pattern>/CadastrarModemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarRoteadorController</display-name>
    <servlet-name>CadastrarRoteadorController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastrarRoteadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarRoteadorController</servlet-name>
    <url-pattern>/CadastrarRoteadorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarGabineteController</display-name>
    <servlet-name>CadastrarGabineteController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastrarGabineteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarGabineteController</servlet-name>
    <url-pattern>/CadastrarGabineteController</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AtribuirCaboController</display-name>
    <servlet-name>AtribuirCaboController</servlet-name>
    <servlet-class>br.com.plds.controller.AtribuirCaboController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtribuirCaboController</servlet-name>
    <url-pattern>/AtribuirCaboController</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>CadastrarCaboController</display-name>
    <servlet-name>CadastrarCaboController</servlet-name>
    <servlet-class>br.com.plds.controller.CadastrarCaboController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCaboController</servlet-name>
    <url-pattern>/CadastrarCaboController</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>BaixarCaboController</display-name>
    <servlet-name>BaixarCaboController</servlet-name>
    <servlet-class>br.com.plds.controller.BaixarCaboController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaixarCaboController</servlet-name>
    <url-pattern>/BaixarCaboController</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>br.com.plds.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SessionCheckSupervisor</filter-name>
    <filter-class>br.com.plds.model.bo.SessionCheckSupervisor</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckSupervisor</filter-name>
    <url-pattern>/painelsup.jsp</url-pattern>
    <url-pattern>/cadastrarfabricante.jsp</url-pattern>
    <url-pattern>/cadastrargabinete.jsp</url-pattern>
    <url-pattern>/cadastrarroteador.jsp</url-pattern>
    <url-pattern>/cadastrarmodem.jsp</url-pattern>
    <url-pattern>/cadastrarcabo.jsp</url-pattern>
    <url-pattern>/cadastro2.jsp</url-pattern>
    <url-pattern>/atribuirmodem.jsp</url-pattern>
    <url-pattern>/atribuirgabinete.jsp</url-pattern>
    <url-pattern>/atribuirroteador.jsp</url-pattern>
     <url-pattern>/atribuircabo.jsp</url-pattern>
    <url-pattern>/listarmateriais.jsp</url-pattern>
    <url-pattern>/listartecnicos.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SessionCheckTecnico</filter-name>
    <filter-class>br.com.plds.model.bo.SessionCheckTecnico</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckTecnico</filter-name>
    <url-pattern>/paineltec.jsp</url-pattern>
    <url-pattern>/baixarmodem.jsp</url-pattern>
    <url-pattern>/baixargabinete.jsp</url-pattern>
    <url-pattern>/baixarroteador.jsp</url-pattern>
  </filter-mapping>
</web-app>